.grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  
 
  
}

.skills, .experience, .softskill, .education, .realms, .selfie, .technologies {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}


.grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 2rem;
  margin-bottom: 1rem;
}

.jumbo {

  margin-right: 10%;

}