.hero {
    display: flex;
    justify-content: space-between;
    margin: 50px ; 
    gap: 20px
}

.hero-right {
    flex: 1;
    margin: 40px 
}

.selfieP {
    flex: 1;
    margin: 30px;
    width: 50%;
    height: auto;
    border: solid;
    border-color: black;
}
